menu "hello module"

    config RT_USING_HELLO
        bool "Enable hello module"
        default y
        help
            Enable hello module

    config RT_HELLO_NAME
        string "Hello name"
        default "RT-Thread"
        help
            Set hello name

    config RT_HELLO_VALUE
        int "Hello value"
        default 666
endmenu